html {
	background: #333;
	color: #eee;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
}

a {
	color: #eee;
}

body {
	margin: 0;
	padding: 20px;
}

div.container {
	max-width: 420px;
	margin: 0 auto;
	text-align: center;
}

img { 
	border-radius: 50%;
	}
